@CHARSET "UTF-8";
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
form,
input,
textarea,
p,
blockquote,
th,
td,
img{
	padding:0;
	margin:0;
}
a{
	text-decoration:none;
}
ul,
ol{
	list-style:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}